* text=auto
# ==============================
# Native
# ==============================
*.js text
*.json text
*.md text
*.yaml text
*.yml text

# ==============================
# CRLF
# ==============================
*.bat eol=crlf
*.cmd eol=crlf

# ==============================
# LF
# ==============================

# ==============================
# Binary
# ==============================
*.sqlite binary
