# ==============================
# Files
# ==============================

# Logs
logs
*.log
npm-debug.log*

# Configuration
package-lock.json
.env

# ==============================
# Directories
# ==============================

# Node
.npm/
node_modules/

# Temp
temp/

# Microsoft VS Code
.vscode/

# Configuration
*.sqlite
